* {
    padding: 0;
    margin: 0;
}
 /* vars */
:root {
    --background-color: #eee;
    --text-color: #333;
    --text-2: #fff;
    --toggle-btn: #333;
    --tr-odd: #e6e6e6;
    --tr-even: #333;
}
/* Dark Mode */
#mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: var(--toggle-btn);
    color: var(--text-2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark-mode {
    --background-color: #333;
    --text-color: #fff;
    --text-2: #232323;
    --toggle-btn: #fff
}
/* Rest*/
body {
    font: 14px Sans-Serif;
    padding: 50px;
    background-color: var(--background-color);
    color: var(--text-2);
;
}

h1 {
    text-align: center;
    padding: 20px 0 12px 0;
    margin: 0;
    color: var(--text-color);
    background-color: var(--text-2);
}

h2 {
    font-size: 16px;
    text-align: center;
    padding: 0 0 12px 0;
}

#container {
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    position: relative;
    background: var(--background-color);
}

table {
    background-color: var(--tr-even);
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
}

th {
    background-color: #fe02bb;
    color: #FFF;
    cursor: pointer;
    padding: 5px 10px;
}

th small {
    font-size: 9px;
}

td,
th {
    text-align: left;
}

a {
    text-decoration: none;
}

td a {
    color: #663300;
    display: block;
    padding: 5px 10px;
}

th a {
    padding-left: 0
}

td:first-of-type a {
    background: url(./assets/folder.png) no-repeat 10px 50%;
    background-size: 20px;
    padding-left: 35px;
}

th:first-of-type {
    padding-left: 35px;
}

td:not(:first-of-type) a {
    background-image: none !important;
}

tr:nth-of-type(odd) {
    background-color: var(--tr-odd);
}

tr:hover td {
    background-color: #CACACA;
}

tr:hover td a {
    color: #000;
}


/* icons for file types (icons by famfamfam) */


/* images */

table tr td:first-of-type a[href$=".jpg"],
table tr td:first-of-type a[href$=".png"],
table tr td:first-of-type a[href$=".gif"],
table tr td:first-of-type a[href$=".svg"],
table tr td:first-of-type a[href$=".jpeg"] {
    background-image: url(./assets/image.png);
}


/* zips */

table tr td:first-of-type a[href$=".zip"] {
    background-image: url(./assets/zip.png);
}


/* css */

table tr td:first-of-type a[href$=".css"] {
    background-image: url(./assets/css.png);
}


/* docs */

table tr td:first-of-type a[href$=".doc"],
table tr td:first-of-type a[href$=".docx"],
table tr td:first-of-type a[href$=".ppt"],
table tr td:first-of-type a[href$=".pptx"],
table tr td:first-of-type a[href$=".pps"],
table tr td:first-of-type a[href$=".ppsx"],
table tr td:first-of-type a[href$=".xls"],
table tr td:first-of-type a[href$=".xlsx"] {
    background-image: url(./assets/office.png)
}


/* videos */

table tr td:first-of-type a[href$=".avi"],
table tr td:first-of-type a[href$=".wmv"],
table tr td:first-of-type a[href$=".mp4"],
table tr td:first-of-type a[href$=".mov"],
table tr td:first-of-type a[href$=".m4a"] {
    background-image: url(./assets/audio.png);
}


/* audio */

table tr td:first-of-type a[href$=".mp3"],
table tr td:first-of-type a[href$=".ogg"],
table tr td:first-of-type a[href$=".aac"],
table tr td:first-of-type a[href$=".wma"] {
    background-image: url(./assets/audio.png);
}


/* web pages */

table tr td:first-of-type a[href$=".html"],
table tr td:first-of-type a[href$=".htm"],
table tr td:first-of-type a[href$=".xml"] {
    background-image: url(./assets/xml.png);
}

table tr td:first-of-type a[href$=".php"] {
    background-image: url(./.assets/php.png);
}

table tr td:first-of-type a[href$=".js"] {
    background-image: url(./.assets/script.png);
}


/* directories */

table tr.dir td:first-of-type a {
    background-image: url(./.assets/folder.png);
}