
* {
    box-sizing: border-box;
  
  }
  body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .navigationbar{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }
  .leftnav{
    width: 20%;
    text-align: center;
    font-size: 1.4em;
  }
  .centernav{
    width: 40%;
    text-align: center;
  }
  .rightnav{
    width: 20%;
    text-align: center;
  }
  .logo{
    background: -webkit-linear-gradient(rgb(224, 28, 214), rgb(90, 104, 226));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 2rem;
    letter-spacing: .1em;
    font-family: 'Yesteryear', cursive;
  }
  .centernav a {
    text-decoration: none;
  }
  
  
  .grid-container{
      height: fit-content;
      width: 100%;
      display: grid;
      grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
      background-color:rgba(146, 118, 247, 0.295);
      grid-gap: 10px;
      justify-content: space-evenly;
      padding-top: 20px;
  }
  
  .divi{
     
      margin: auto;
      width: 200px;
      height: 200px;
      border-radius: 20px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 5px;
      margin-top: 5px;
      
  }
  
  .divi:hover{
    box-shadow: 0 0 15px #88818183;
  }
  .innerbtn{
  height: 40px;
  width: 100%;
  background-color: white;
  color: black;
  border-style: none;
  border-radius: 0 0 18px 18px;
  outline: none;
  visibility: hidden;
  }
  .innerbtn:hover{
    box-shadow: 0 -10px 15px #867c7ca1;
  }
  
  .css{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 60%;
    background-color: aliceblue;
    top: 40%;
    left: 20%;
    border-radius: 15px;
    visibility: hidden;
    padding: 10px;
    align-self: center;
  }
  .cancelbtn{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 5px;
    
  }
  #cancel{
    height: 25px;
    width: 25px;
    background-color: aliceblue;
    border-style: none;
    font-size: 1.5em;
    outline: none;
  }
  #cancel:hover{
    color: tomato;
  }
  
  .csscodetext{
    height: fit-content;
    width: 100%;
    margin: 5%;
  }
  .csscodetext:hover{
    color: blue;
    cursor: pointer;
  }
  .copycss{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copycssbtn{
    height: 30px;
    width: 100px;
    outline: none;
    border-radius: 12px;
    border-color: #5ed371;
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    border-style: solid;
  }
  .copycssbtn:hover{
    box-shadow: 0 2px 10px #5ed371;
    cursor: pointer;
    background-color:#5ed371 ;
    color: #ffffff;
  }