/**
* @name Lynnux
* @author Dark-LYNN#6568
* @authorLink https://discordapp.com/users/705306248538488947
* @authorId 705306248538488947
* @description UwU
* @version 1.0
* @source https://dark-lynn.github.io/BetterDiscord/theme/Lynnux/Lynnux.theme.css
* @updateUrl https://dark-lynn.github.io/BetterDiscord/theme/Lynnux/Lynnux.theme.css
* @invite SBj5WzeVBj
* @patreon https://www.patreon.com/Dark_Lynn
*/

@import url('https://dark-lynn.github.io/BetterDiscord/theme/Lynnux/Lynnux.css');
@import url('https://dark-lynn.github.io/BetterDiscord/theme/Lynnux/Buttons.css');
@import url('https://dark-lynn.github.io/BetterDiscord/theme/event/christmas.css');
@import url('https://dark-lynn.github.io/BetterDiscord/theme/donators/donators.css');
@import url("https://dark-lynn.github.io/BetterDiscord/theme/Lynnux/CircleStatus.css");



/* [ Next Level channels ] */
/* [ THEME MODE SPECIFIC ] */
.theme-dark {
    --indicator-selected: 88, 101, 242;
    --indicator-unread: 255, 255, 255;
    --indicator-connected: 87, 242, 135;
    --indicator-active: white;
}

.theme-light {
    --indicator-selected: 88, 101, 242;
    --indicator-unread: 0, 0, 0;
    --indicator-connected: 65, 183, 102;
    --indicator-active: black;
}

/* [ CUSTOMIZATION BASE ] */
:root {
    --indicator-border-info: solid 2px;
    --indicator-rounding-info: 0 0px 0px 0;
    --indicator-hovered: rgba(85, 90, 100, 0.25);
    /* [ SELECTED ] */
    --indicator-selected-border: rgba(var(--indicator-selected));
    --indicator-selected-icons: rgba(var(--indicator-selected));
    --indicator-selected-hover: rgba(var(--indicator-selected), 0.18);
    --indicator-selected-background: rgba(var(--indicator-selected), 0.1);
    /* [ UNREAD ] */
    --indicator-unread-border: rgba(var(--indicator-unread), 0.6);
    --indicator-unread-icons: var(--indicator-unread-border);
    --indicator-unread-background: rgba(var(--indicator-unread), 0.020);
    /* [ CONNECTED ] */
    --indicator-connected-border: rgba(var(--indicator-connected));
    --indicator-connected-icons: var(--indicator-connected-border);
    --indicator-connected-hover: rgba(var(--indicator-connected), 0.18);
    --indicator-connected-background: rgba(var(--indicator-connected), 0.1);
}

/* [ Better Buttons ]*/
:root {
    /* Gradients */
    --gradient-special: 140deg, #8980F0 0%, #D577F0 100%;
    --gradient-blurple: 140deg, #5865f2 0%, #2a328a 100%;
    --gradient-green: 140deg, #3BA55D 0%, #15662f 100%;
    --gradient-yellow: 140deg, #FAA81A 0%, #be8013 100%;
    --gradient-red: 140deg, #ed4245 0%, #912b2d 100%;
    --gradient-grey: 140deg, #747F8D 0%, #3c424b 100%;

    /* Transitions */
    --button-transition: 0.1s linear;
    --font-default: 500;
    --font-hover: bold;
    --fontsize-hover: 15px;
    --transform-normal: scale(1);
    --transform-hover: scale(1.15);
    --button-transform-hover: scale(1.04);
}

:root {
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}