@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');

*{
    padding:0;
    margin:0;
    box-sizing:border-box
}
:root{
    --spacing-unit:8px;
    --modal-gutter:calc(var(--spacing-unit)*2);
    --backdrop-z-index:100;
    --sync-notification-z-index:50;
    --surface-color:#fff;
    --border-color:#ededed;
    --backdrop-color:rgba(0,0,0,0.5);
    --primary-color:#0083ff;
    --primary-text-color:#030303;
    --secondary-text-color:#9b9b9b;
    --tertiary-text-color:#6e6e72;
    --tertiary-1-color:#ededed
}
html{
    font-family:Inter,sans-serif;
    font-size:16px
}
body,html{
    height:100%;
    width:100%
}
body{
    color:var(--primary-text-color)
}
#root{
    height:100%;
    width:100%
}
.BackdropModal{
    align-items:flex-start;
    display:flex;
    justify-content:center;
    overflow-y:auto;
    overflow-x:hidden;
    padding:var(--modal-gutter);
    z-index:var(--backdrop-z-index)
}
.BackdropModal,.BackdropModal__backdrop{
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%
}
.BackdropModal__backdrop{
    background-color:var(--backdrop-color);
    z-index:1
}
.BackdropModal__modal{
    margin-bottom:32px;
    margin-top:32px;
    max-width:100%;
    position:relative;
    z-index:2
}
.CardPaneHeader__bar{
    align-items:center;
    display:flex;
    justify-content:space-between;
    margin-bottom:12px;
    max-width:100%
}
.CardPaneHeader__breadcrumbs{
    align-items:center;
    display:flex;
    overflow:hidden
}
.CardPaneHeader__breadcrumbsIcon{
    display:flex;
    align-items:center;
    height:14px;
    margin-right:4px;
    width:14px;
    flex-shrink:0
}
.CardPaneHeader__breadcrumbsText{
    color:var(--secondary-text-color);
    font-size:11px;
    font-weight:600;
    line-height:14px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.CardPaneHeader__closeButton{
    align-items:center;
    background-color:transparent;
    border-radius:4px;
    border:none;
    color:var(--secondary-text-color);
    cursor:pointer;
    display:inline-flex;
    justify-content:center;
    padding:6px
}
.CardPaneHeader__closeButton:hover{
    background-color:rgba(0,0,0,.05)
}
.CardPaneHeader__title{
    margin-top:12px;
    margin-bottom:24px;
    font-size:28px;
    font-weight:700;
    line-height:34px;
    word-break:break-word
}
.ProgressBar{
    background-color:var(--tertiary-1-color);
    border-radius:2px;
    height:2px;
    position:relative;
    overflow:hidden
}
.ProgressBar__value{
    background-color:var(--primary-color);
    height:100%;
    left:0;
    position:absolute;
    top:0
}
.ChecklistItem{
    align-items:center;
    display:flex;
    padding:12px
}
.ChecklistItem__icon{
    flex-grow:0;
    flex-shrink:0;
    display:flex
}
.ChecklistItem__icon svg{
    height:18px;
    width:18px
}
.ChecklistItem__info{
    display:inline-grid
}
.ChecklistItem__title{
    font-size:14px;
    letter-spacing:-.3px;
    line-height:16px;
    margin-left:10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.ChecklistItem__title a{
    color:var(--primary-color)
}
.ChecklistItem__title a:hover{
    text-decoration:none
}
.ChecklistItem--checked .ChecklistItem__title{
    color:var(--secondary-text-color);
    text-decoration:line-through
}
.Checklist__header{
    align-items:center;
    display:flex
}
.Checklist__title{
    flex-grow:1;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:0
}
.Checklist__percentageValue{
    color:var(--primary-color)
}
.Checklist__progress{
    padding-top:4px;
    padding-bottom:4px
}
.CardPaneDetails__date>div{
    align-items:center;
    border-radius:62px;
    border:1px solid var(--border-color);
    display:inline-flex;
    padding:10px 12px
}
.CardPaneDetails__date svg{
    margin-right:8px
}
.CardPaneDetails__date span{
    font-size:12px;
    font-weight:500;
    line-height:16px
}
.CardPaneDetails__tags{
    margin-top:12px
}
.CardPaneDetails__tag{
    border-radius:100px;
    color:var(--surface-color);
    display:inline-block;
    font-size:12px;
    font-weight:500;
    line-height:15px;
    padding:4px 12px
}
.CardPaneDetails__tag+.CardPaneDetails__tag{
    margin-left:8px
}
.CardPaneDetails__note{
    margin-top:24px;
    font-size:14px;
    line-height:19px;
    letter-spacing:-.3px;
    word-break:break-word;
    white-space:pre-wrap
}
.CardPaneDetails__note a{
    color:var(--primary-color)
}
.CardPaneDetails__note a:hover{
    text-decoration:none
}
.CardPaneDetails__checklists{
    display:grid;
    gap:15px;
    margin-top:24px
}
.CardPaneDetails__attachments{
    margin-top:24px
}
.Attachment{
    align-items:center;
    display:flex;margin:8px 0
}
.Attachment__icon{
    border-radius:2px;
    cursor:pointer;
    display:flex;
    height:24px;
    overflow:hidden;
    position:relative;
    width:24px
}
.Attachment__thumbnail{
    position:absolute
}
.Attachment__action{
    align-items:center;
    background-color:rgba(0,0,0,.2);
    display:flex;height:100%;
    justify-content:center;
    position:absolute;
    width:100%
}
.Attachment__title{
    color:var(--primary-text-color);
    flex-grow:1;
    font-size:15px;
    font-weight:700;
    line-height:18px;
    margin-left:8px;
    overflow:hidden;
    text-decoration:none;
    text-overflow:ellipsis;
    white-space:nowrap
}
.Attachment__date{
    color:var(--secondary-text-color);font-size:12px;font-weight:500;line-height:16px;margin-left:8px
}
.CardPane{
    min-height:510px;
    max-width:100%;
    padding:calc(var(--spacing-unit)*3);
    width:570px
}
.CardPane,.Section{
    background-color:var(--surface-color);
    border-radius:16px
}
.Section{
    box-shadow:0 4px 20px rgba(0,0,0,.1);
    display:flex;
    flex-direction:column;
    max-height:100%;
    overflow:hidden
}
.Section__header{
    padding:16px
}
.Section__title{
    font-size:15px;
    font-weight:700;
    line-height:18px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.Section__content{
    display:flex;
    flex-direction:column;
    gap:.5rem;
    overflow-y:auto;
    padding-bottom:16px;
    padding-left:16px;
    padding-right:16px
}
.Card{
    border-radius:6px;
    border:1px solid var(--border-color);
    cursor:pointer;
    padding:12px
}
.Card__title{
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    display:-webkit-box;
    font-size:14px;
    letter-spacing:-.3px;
    line-height:16px;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:break-word
}
.Card__title a{
    color:var(--primary-color)
}
.Card__title a:hover{
    text-decoration:none
}
.Card__tags{
    margin-top:12px
}
.Card__tag{
    border-radius:100px;
    display:inline-block;
    font-size:0;
    height:5px;
    width:20px
}
.Card__tag+.Card__tag{
    margin-left:10px
}
.Card__dueDate{
    color:var(--tertiary-text-color);
    font-size:11px;
    font-weight:600;
    letter-spacing:-.3px;
    line-height:14px;
    margin-top:12px
}
.MobileBoard{
    align-items:center;
    background-color:var(--surface-color);
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center;
    left:0;
    padding:24px;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:100
}
.MobileBoard__text{
    font-family:Poppins,sans-serif;
    font-size:36px;
    font-weight:700;
    letter-spacing:-.01em;
    line-height:1.2;
    margin-top:68px;
    overflow:hidden;
    max-width:100%
}
.MobileBoard__title{
    justify-content:center;
    align-items:center;
    display:flex;
    margin-top:48px
}
.MobileBoard__title:after,.MobileBoard__title:before{
    content:'"'
}
.MobileBoard__title span{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.Board{
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction:column;
    height:100%
}
.Board__header{
    padding:calc(var(--spacing-unit)*3)
}
.Board__toolbar{
    align-items:center;
    background-color:var(--surface-color);
    border-radius:3rem;
    box-shadow:0 1px 4px rgba(0,0,0,.04),0 2px 18px rgba(0,0,0,.08);
    display:inline-flex;
    max-width:100%;
    padding:0 16px
}
.Board__toolbar .Board__emoji{
    align-items:center;
    display:flex;
    margin-right:6px;
    width:22px;
    height:40px
}
.Board__toolbar .Board__emoji span,.Board__toolbar .Board__title{
    font-size:20px;
    line-height:24px
}
.Board__toolbar .Board__title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.Board__toolbar .Divider{
    background-color:#d8d8d8;
    height:26px;
    margin-left:16px;
    margin-right:16px;
    width:1px
}
.Board__toolbar .SyncButton{
    align-items:center;
    background-color:transparent;
    border-radius:4px;
    border:none;
    cursor:pointer;
    display:flex;
    justify-content:center;
    padding:2px
}
.Board__toolbar .SyncButton:hover{
    background-color:rgba(0,0,0,.05)
}
.Board__toolbar .SyncButton svg{
    animation:ani-SyncButton--syncing 1s linear infinite;
    animation-fill-mode:both;
    animation-play-state:paused
}
.Board__toolbar .SyncButton--syncing svg{
    animation-play-state:
    running
}
@keyframes ani-SyncButton--syncing{
    0%{transform:rotate(0deg)}to{transform:rotate(1turn)}
}
.Board__content{
    align-items:flex-start;
    display:flex;
    flex-grow:1;
    gap:2rem;
    overflow-x:auto;
    padding-left:calc(var(--spacing-unit)*3);
    padding-right:calc(var(--spacing-unit)*3);
    padding-bottom:100px;
    width:100%
}
.Board__content .Section{
    max-width:280px;
    min-width:280px
}
.Board__footer .Copyright{
    align-items:center;
    background-color:var(--surface-color);
    border-radius:44px;
    bottom:0;
    box-shadow:0 1px 4px rgba(0,0,0,.04),0 2px 18px rgba(0,0,0,.08);
    color:var(--primary-color);
    display:inline-flex;
    font-size:17px;
    line-height:24px;
    margin:calc(var(--spacing-unit)*3);
    padding:10px 35px;
    position:fixed;
    right:0;
    text-decoration:none
}
.Board__footer .Copyright svg{
    margin-left:var(--spacing-unit)
}
.NotFound{
    height:100vh;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:center
}